<div class="container text-center aboutpage">
  <h1>About page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, aliquid laboriosam dolores animi placeat ipsa harum corporis, minus nesciunt totam molestias cupiditate tempore sequi? Ipsam laborum laudantium dicta nostrum consectetur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusantium fugit exercitationem quos corporis consequatur doloribus ea voluptas cumque quaerat nihil, explicabo delectus velit porro! Sequi numquam facilis cum vel.</p>
</div>